# This is a sample config for local development.
# Simply edit/copy as needed and rename to .env.local.
# application.php will load this file if you're not in a Pantheon (dev/test/live) environment.

# Be sure to replace YOUR-LOCAL-DOMAIN below too.

WP_HOME='YOUR-LOCAL-DOMAIN'
WP_SITEURL="${WP_HOME}/wp"

DB_NAME=$_ENV['DB_NAME']
DB_USER=$_ENV['DB_USER']
DB_PASSWORD=$_ENV['DB_PASSWORD']