name: Lint and Test

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

permissions:
    contents: write
    actions: read
    pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['8.1', '8.2', '8.3', '8.4']

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-version }}

    - name: Cache Composer dependencies
      id: composer-cache
      run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

    - uses: actions/cache@v4
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: ${{ runner.os }}-composer-

    - name: Check Commits
      run: |
        # Don't warn about detached head.
        git config advice.detachedHead false
        git fetch --all
        git checkout -b default origin/default
        git checkout ${{ github.event.pull_request.head.sha }}
        echo "This script does preliminary checks to make sure that the commits in a PR made in this repository are ready for the deploy-public-upstream script. i.e. any given commit modifies either 'normal' or 'non-release' files, never mixed."
        bash ${{ github.workspace }}/devops/scripts/check-commits.sh || echo "commit_check_failed=1" >> $GITHUB_ENV

    - name: Comment on PR if commit check failed
      if: env.commit_check_failed == '1'
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        gh pr comment ${{ github.event.pull_request.number }} -b "Hi from your friendly robot! :robot: It looks like there might be commits to both release and non-release files in this PR. Please review and make sure to use **rebase and merge** rather than **squash** when you merge."

    - name: Check Composer lock file is up to date
      run: composer validate --no-check-all

    - name: Install Composer dependencies
      run: composer update --no-progress --prefer-dist --optimize-autoloader

    - name: Run lints
      run: |
        composer lint:devops
        composer lint

    - name: Run tests
      run: composer test

    - name: Install bats
      uses: bats-core/bats-action@2.0.0

    - name: Test Helper functions
      env:
        CI: 1
      run: |
          bats -p -t .github/tests/1-test-update-php.bats

    - name: Create failure status artifact
      if: failure()
      run: |
        # In the case of a failure, remove the previous status, whatever it was, and update it to 1.
        if [ -f status-${{ matrix.php-version }}-${{ github.sha }}.txt ]; then
          rm status-${{ matrix.php-version }}-${{ github.sha }}.txt
        fi
        echo "1" > status-${{ matrix.php-version }}-${{ github.sha }}.txt
    - name: Create success status artifact
      if: success()
      run: |
        # Only create a status file if it doesn't already exist.
        if [ ! -f status-${{ matrix.php-version }}-${{ github.sha }}.txt ]; then
          echo "0" > status-${{ matrix.php-version }}-${{ github.sha }}.txt
        fi

    - name: Upload status artifacts
      uses: actions/upload-artifact@v4
      with:
        name: status-${{ matrix.php-version }}-${{ github.sha }}
        path: status-${{ matrix.php-version }}-${{ github.sha }}.txt
